{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4">Redefinir Senha</h2>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Nova Senha</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirmar Nova Senha</label>
                        <input type="password" name="confirm_password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Redefinir Senha</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}